@use "../../../styles/mixins.scss";

.navWrapper {
  .navbar {
    @include mixins.flexCenter;
    z-index: 10;
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    // height: 30rem;
    background: transparent;
    padding: 1rem 1.5rem;
    justify-content: space-between !important;
    color: var(--white);
    transition: all 0.3s ease-in-out;

    // backdrop-filter: blur(0.1px);
    .logo img {
      height: 4rem;
      width: 5rem;
    }

    .nav_links {
      @include mixins.flexCenter;

      .gallerydropdown {
        .gallerylinks {
          @include mixins.flexCenter;
          position: absolute;
          align-items: flex-start;
          flex-direction: column;
          .sublink {
            font-size: 0.8rem;
          }
        }
      }

      a,
      .gallerydropdown {
        text-decoration: none;
        margin: 0 1.5rem;
        color: var(--white);
        padding: 0.5rem;
        font-family: "Bitter", serif;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

        &:active {
          color: var(--btn-bg-1);
        }

        &:hover {
          opacity: 0.7;
        }
      }

      .activeLink {
        border-bottom: 1px solid var(--white);
      }
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  background: radial-gradient(
    circle at bottom right,
    var(--btn-bg-1),
    var(----btn-bg-2)
  );
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;

  &:hover {
    background: radial-gradient(
      circle at top right,
      var(--btn-bg-1),
      var(----btn-bg-2)
    );
  }
}

@media (max-width: 769px) {
  .navWrapper {
    position: absolute;
    width: 15rem;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: 0;

    .navbar {
      @include mixins.flexCenter;
      flex-direction: column;
      z-index: 10;
      position: absolute;
      top: 0;
      left: unset;
      right: 0;
      width: 15rem;
      height: 100vh;
      background: transparent;
      padding: 1rem 1.5rem;
      justify-content: space-evenly !important;
      backdrop-filter: blur(1rem);

      .logo {
        font-size: 1.3rem;
      }

      .nav_links {
        @include mixins.flexCenter;
        flex-direction: column;

        a {
          text-decoration: none;
          margin: 1.5rem 0;
          color: var(--white);
        }
      }
    }

    .navShow {
      transform: unset;
    }

    .navHide {
      transform: translateX(15rem);
      // right: -15rem;
    }
  }
}
