@use "../../../styles/mixins.scss";

.ContactSection {
  height: 100vh;
  width: 100vw;
  @include mixins.flexCenter;
  background: url("../../../../public/images/aboutmainpage.jpg") no-repeat
    center center / cover;
  background-attachment: fixed;

  form {
    // width: 50%;

    @include mixins.flexCenter;
    flex-direction: column;
    gap: 1rem;
    padding: 2%;
    background: rgba(255, 255, 255, 0.167);
    border: 0.01rem solid var(--white);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;

    :where(input, textarea, button) {
      font-family: "Bitter";
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: var(--card-bg);
      border: none;
      outline: none;
      width: 20rem;
      resize: none;
      color: var(--white);
      border: 1px solid var(--white);
    }
  }
}

@media (max-width: 769px) {
  .ContactSection {
    div {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .ContactSection {
    form {
      width: 70%;
      :where(input, textarea, button) {
        width: 90%;
      }
    }
  }
}
