.body {
  background: radial-gradient(
    circle at 85vw 50vh,
    var(--bloblight-blue),
    var(--bg-1) 40%
  );
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.cursor1 {
  border: 0.1rem solid rgba(255, 255, 255, 0.772);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 7;
}

.carousel_body {
  height: 100vh;
  width: 100vw;
}

.intro {
  height: 100vh;
  width: 100vw;
}

@keyframes cursor_animate {
  0% {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.1;
  }

  75% {
    scale: 1.1 1;
  }

  100% {
    rotate: 360deg;
  }
}

@media (max-width: 769px) {
  .body {
    background: radial-gradient(circle at 50vw 80vh, #6085a8, var(--bg-1) 40%);
  }
}
