@use "../../../styles/mixins.scss";

.content {
  .aboutpara {
    font-family: "Lexend Mega", sans-serif;
    letter-spacing: -0.1rem;
    text-align: center;
    padding: 10%;
    line-height: 2rem;
    font-size: 1rem;
    cursor: text;
    // animation: slideInLeft 1s ease-in-out;
    // &::first-letter{
    //   font-size: 3rem;
    //   color: red;
    // }
  }

  .moreabout {
    @include mixins.flexCenter;
    .arrowlink {
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      color: var(--white);
      font-weight: 500;
      font-size: 1rem;
      background: var(--black);
      border: 0.1px solid var(--white);
      padding: 1rem;
      margin: 0 auto;
      border-radius: 0.3rem;
    }

    .arrowlink span {
      font-family: "Archivo", sans-serif;
      position: relative;
      z-index: 1;
    }

    .arrowlink:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 400%;
      width: 150%;
      background: #a4b5cd;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }

    .arrowlink:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    margin-bottom: 1rem;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-30%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-10%);
  }
}
