@use "../../../styles/mixins.scss";

.body {
  .carousel_body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .intro {
    height: 100vh;
    width: 100vw;
  }
}

@keyframes cursor_animate {
  0% {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.1;
  }

  75% {
    scale: 1.1 1;
  }

  100% {
    rotate: 360deg;
  }
}

@media (max-width: 769px) {
  .body {
    background: radial-gradient(circle at 50vw 80vh, #6085a8, var(-bg1) 40%);
  }
}
