@use "../../../styles/mixins.scss";

.welcomepara {
  font-family: "Poppins";
  text-align: start;
  padding: 10%;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: text;
  .heading {
    font-family: "Sora";
    padding-bottom: 5%;
    font-size: 2.5rem;
    text-align: center;
  }
  p {
    font-family: "Sora";
  }
}

.welcomeimg {
  height: 100vh;
  width: 100vw;
  background: url("../../../../public/images/welcome.jpg") no-repeat center
    center / cover;
  background-attachment: fixed;
}
