.hcarousel {
  position: relative;
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  .swiper {
    width: 100%;
    .swiper_slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        // display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: contrast(1) brightness(1) saturate(2);
      }
    }
    .swiper-button-next {
      color: red;
    }
  }
}
